@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");


.formulario {

    position: relative; 
    width: 350px; 
    background-color: #ffffff; 
    border: solid 3px #130309; 
    font-size: 16px; 
    text-align: left; 

}


.LogoName{
    
    height:'35px';
     width:'55px';

    font-family: "Rubik", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 0.5;
  color: #130309;
  margin-bottom: 0;
  position: absolute;
  left:'80%';
   top:'90%';
   border: 1px solid;
}


 h4{
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 0.5;
    color: #87765c;
 }
.button{
    width: 65px;
    height: 17px;
    font-size: 100%;
    background-color: red;
    color: white; 
    border: 0px solid;
    border-radius: 5px 5px 5px 5px;
}

.button:hover{
    background-color: black;
    cursor: pointer;
}

.EncabezadoPadre {
    background:  rgba(241, 241, 241, 0.877);
    height: 25px;
    position: relative;
  }
.EncabezadoHijo {
    background: rgba(241, 241, 241, 0.877);
    width: 100%;
    /*IMPORTANTE*/
    height: 25px;
    position: absolute;
    top: 220%;
    margin-top: -50px;
    font: menu;
font-size: 66%;

  }

.textareaHeader {
    width: 65px;
    height: 15px;
    font-size: x-small;
    border: 0px solid;
    border-radius: 5px 5px 5px 5px;
    
   }

   .LoginPage{

    height: 100vh;
    overflow: hidden;
   }


.cuerpo{
    height: 100%;
    width: 100%;
position: relative;

}



.slider-contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    background: #d1d0d1;
}

.contenido-slider{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    
    
}
.contenido-slider h2{
    
    text-align: right;
   

    font-family: "Nothing You Could Do", cursive;
  font-size: 105px;
  text-transform: capitalize;
  font-weight: 900;
  line-height: 1.5;
  color: #130309;
  margin-bottom: 0;
}

.contenido-slider a{
    color: #fff;
    background: #611a68;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}


.contenido-slider > img{
    width: 800px;
}

.contenido-slider > div{
    width: 50%;
}

.logo{
    position: absolute;
    top: 30%;
    left: 30%;
    }

 img {
        width: 550px;
        height: 500px;
    }
    
.mensajeError{
    margin-left: 20px;
    font-style:oblique;
    font-weight: bold;
    }