.PanelStudents{
    height: 588px;
    width: 95%;
    margin-left: 70px;

    margin-top: -40px;
    overflow: hidden;
  
    }

    .inputfile{

        width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
       }

       
     .DivUpload{
        position: absolute;
        top: 180px;
        left: 320px;

     }
     .MessageAlertPicture{

        height: 20px;
        width: 100px;
        position: absolute;
        top: 170px;
        left: 325px;
        font-size: 12px;
        color: red;
        border: 0.5px solid;
    
    }
     .DivUploadHelp{
        position: absolute;
        top: 240px;
        left: 300px;
        background-color: grey ;
        opacity:0.8;
        font-size: 14.5px;
        color: whitesmoke;
        font-style: normal;
        width: 120px;
  height: 25px;
     }

 
     .titleSteepOneStudent{

        color:rgba(9, 9, 88, 0.712);
        position: absolute;
        top: 0.5%;
        right: 2%;
     }
     
    .titleSteepTwoGrade{
        color:rgba(9, 9, 88, 0.712);
        position: relative;
        

    }

    .titleFindStudents{
        font-size:  large;
        color:rgba(9, 9, 88, 0.712);
        position: absolute;
    left:1%;
    top:5px;

    }

     .panelStudentsMaterialTable{
        position: absolute;
        top: 125px;
        left: 15%;
        height: 450px;
        width: 65%;
        overflow:auto;
        border-radius: 10%;
        

     }

     .panelStudentsMaterialTable::-webkit-scrollbar {
        width: 7px;
      }
      
      /* Track */
      .panelStudentsMaterialTable::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      .panelStudentsMaterialTable::-webkit-scrollbar-thumb {
        background:#ddb6aaec
      }
      
      /* Handle on hover */
      .panelStudentsMaterialTable::-webkit-scrollbar-thumb:hover {
        background:#ddb6aaec 
      }
    

    .conteinerPanels{
        height: 100%;
        width: 100%;
        position: relative;

    }

    .panelShowStudentsContainer{
        position: relative;
        height: 100%;
        width: 100%;
    }
    .gotoNewUserPanel{
        position: absolute;
        top: 2%;
        left: 95%;
    }

    .divShiftHelpNew{
        position: absolute;
        left:87%;
    top:8%;
        background-color: grey ;
        opacity:0.8;
        font-size: 14.5px;
        color: whitesmoke;
        font-style: normal;
        width: 88px;
  height: 25px;
     }

    .gotoNewUserPanel:hover{
        cursor: pointer;
    }
    .PanelShowStudents{

        height: 600px;
        width: 70%;
        position: absolute;
        top: 15px;
        left: 15%;
        border-color: rgb(145, 184, 145);
        background-color: rgb(245, 229, 229);

    }

.newStudent{

    height: 520px;
    width: 450px;
    position: absolute;
    top: 15px;
    left: 35%;

   
    background-color: rgb(245, 229, 229);
    
}

.newStudentTwo{

    height: 500px;
    width: 850px;
    position: absolute;
    top: 15px;
    left: 17%;
    border: 1px solid;
    border-color: rgb(208, 203, 180);
    background-color: rgb(245, 229, 229);
    display: flex;
   align-items: center;
}
.conteinerNewStudent{
    height: 100%;
    width: 100%;
    position: relative;
   
}

.centerBlock {
    display: table;
    margin: auto;
  }
.divPicture{

    height: 200px;
    width: 190px;
  
    border: 2px ;
    
    
   
    overflow:hidden;

}

.divGrade{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px ;
    
   border-right: 2px solid;
   border-color: rgb(250, 172, 163);
    overflow:hidden;

}
.divTutor{
    height: 100%;
    width: 49.5%;
    position: absolute;
    top: 0px;
    left: 50.5%;
   
    border-left: 2px solid;
   border-color: rgb(250, 172, 163);
    
    
   
    overflow:hidden;

}

.LabelUpload{
    color:red
}

.LabelUpload:hover{

    cursor: pointer;
}

.textBoxStudent{
  
    background: transparent;
    border: 0.3px solid;
    border-color: rgb(211, 211, 211);
    width:240px;
    height:18px;
    font-size: medium;
    color: rgb(141, 141, 141);
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.textNewUser{
  
    background: transparent;
  
    width:550px;
    height:35px;
    font-size: large;
    font-weight: 500;
    color: rgb(128, 7, 7);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}

.textBoxStudent:hover{
border-color: rgb(90, 90, 90);

}
.textBoxStudent:focus{
    outline: none;
}
.newId{

    height: 55px;
    width: 200px;
    position: relative;
    
    
    text-align: left;
}


.MessageAlertId{

    height: 20px;
    width: 100px;
    position: absolute;
    top: 280px;
    left: 335px;
    font-size: 12px;
    color: red;
    border: 0.5px solid;

}




.newName{
    height: 55px;
    width: 200px;
    position: relative;

    text-align: left;
}

.MessageAlertName{

    height: 20px;
    width: 100px;
    position: absolute;
    top: 345px;
    left: 335px;
    font-size: 12px;
    color: red;
    border: 0.5px solid;

}


.newSurname{
    height: 55px;
    width: 200px;
    position: relative;
   
    text-align: left;
}
.MessageAlertSurname{

    height: 20px;
    width: 100px;
    position: absolute;
    top: 415px;
    left: 335px;
    font-size: 12px;
    color: red;
    border: 0.5px solid;

}

.newDate{
    height: 55px;
    width: 200px;
    position: relative;
 
    text-align: left;
}
.MessageAlertSurBday{

    height: 20px;
    width: 100px;
    position: absolute;
    top: 485px;
    left: 335px;
    font-size: 12px;
    color: red;
    border: 0.5px solid;

}


.next{

    float: right;
}
.next:hover{
    cursor: pointer;
}

.containMaterialTable{

    position: relative;
    height: 100%;
    width: 100%;
    
}

.GradesMaterialTable{
    position:relative;
    height: 350px;
    width: 300px;
    overflow:auto;
    border-radius: 12%;
   

}

.GradesMaterialTable::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  .GradesMaterialTable::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .GradesMaterialTable::-webkit-scrollbar-thumb {
    background: rgb(185, 177, 176);
  }
  
  /* Handle on hover */
  .GradesMaterialTable::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.goBack{

    position: absolute;
    left:2%;
    top:92%;
   }
 
.goBack:hover{

    cursor: pointer;
}

.ShiftAllStudents{
    position: absolute;
    left:2%;
    top:2%;
    }

    .divShiftHelp{
        position: absolute;
        left:2%;
    top:9%;
        background-color: grey ;
        opacity:0.8;
        font-size: 14.5px;
        color: whitesmoke;
        font-style: normal;
        width: 88px;
  height: 25px;
     }

.ShiftAllStudents:hover{
    cursor: pointer;
}

.SaveUser{

    position: absolute;
    left:89%;
    top:91%;
    height: 50px;
    width: 100px;
   
   }
   .SaveButton{
    background: transparent;
    border: 2px solid;
    border-color: rgba(146, 145, 144, 0.849);
    border-radius: 25%;
    font-size: medium;
    color: rgba(107, 107, 107, 0.849);
    height: 38px;
    width: 60px;
   }
   .SaveButton:hover{
       cursor: pointer;
       border: 3px solid;
       border-color: rgba(20, 11, 0, 0.849);
       color: rgba(20, 11, 0, 0.849) ;
       
    }
    SaveButton:focus{
        cursor: pointer;
        border: 4px solid;
        border-color: rgba(20, 11, 0, 0.849);
        color: rgba(20, 11, 0, 0.849) ;
     }
     

.StudentSaved{
    position: absolute;
    left:25%;
    top:50%;

}

.ButtonSave{
  
    background: transparent;
    border: 0.3px solid;
    border-color: rgb(189, 187, 187);
    width:100px;
    height:18px;
    font-size: medium;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.textBox:hover{
border-color: white;

}
.textBox:focus{
    border-color: white;
}

.ConfigStudentButton{
    position: absolute;
    left:2%;
    top:2%;
     opacity:0.7; 
     cursor:pointer
}

.TutorDiv{

    text-align: center;
    padding-left: 50px;
    border-left: 1px solid;
    border-color: rgb(184, 86, 11);
    border-width: thick;
}


.GDiv{
    position:relative;
    text-align: center;
    padding-left: 25px;
 
 
}

@media only screen and (max-width: 479px) {
    /* Crear nuevo estudiante*/

    .ConfigStudentButton{
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
    .newStudent{

        height: 495px;
        width: 381px;
        position: absolute;
        top: 0px;
        left: 10px;
    
        border-color: rgb(237, 230, 201);
        background-color: rgb(245, 229, 229);
                
    }

    .PanelStudents{
        height: 505px;
        width: 393;
        margin-left: 8px;
    
        margin-top: -60px;
        overflow: auto;
        
      
        }

        .newStudentTwo{

            height: 1000px;
        width: 383px;
        position: absolute;
        top: 10px;
        left: 7px;
            border: 1px solid;
            border-color: rgb(216, 209, 158);
            background-color: rgb(245, 229, 229);
            overflow: hidden;
            
           
        }

        .TutorDiv{
            position:relative;
           width: 350px;
           height: 450PX;
            text-align: center;
            margin-top: 0px;
            padding-top: 35px;
            padding-left:5px;
            border-left: none;
            border-top: 1px solid;
            border-color: rgb(184, 86, 11);
            border-width: thick;
        }
        
        .GDiv{
            position:relative;
            text-align: center;
            width: 350px;
            height: 450PX;
            padding-left: 5px;
         
         
        }
        
        
        .SaveUser{

            position: absolute;
            left:78%;
            top:95%;
            height: 50px;
            width: 100px;
           
           }

           
.goBack{

    position: absolute;
    left:2%;
    top:95%;
   }
 
    }
    